apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: ${traefik_version:=forgetToConfigure}
  interval: 1m0s
  values:
    additionalArguments:
      - "--accesslog=true"
      - "--log.level=DEBUG"
      - "--serversTransport.insecureSkipVerify=true"

    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowExternalNameServices: true

    deployment:
      replicas: 1

    ingressRoute:
      dashboard:
        enabled: true
        # Custom match rule with host domain
        matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)
        entryPoints: [ "websecure" ]
        # Add custom middlewares : authentication and redirection
        middlewares:
          - name: traefik-dashboard-auth
