extraDeploy:
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: service-whoami-values
    spec:
      entryPoints:
        - web
      routes:
        - match: PathPrefix(`/argocd/whoami-values`)
          kind: Rule
          middlewares:
            - name: strip-whoami-values
          services:
            - name: whoami-repository
              port: http
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: service-whoami-values-tls
    spec:
      entryPoints:
        - websecure
      routes:
        - match: PathPrefix(`/argocd/whoami-values`)
          kind: Rule
          middlewares:
            - name: strip-whoami-values
          services:
            - name: whoami-repository
              port: http
      tls: {}
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: strip-whoami-values

    spec:
      stripPrefix:
        prefixes:
          - /argocd/whoami-values
          - /argocd/whoami-values/