apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: whoami-repository
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: {{ .Values.namespace }}
    server: https://kubernetes.default.svc
  project: default
  source:
    path: argocd/whoami-repository/localhost
    repoURL: https://github.com/jwausle/gitops.git
    targetRevision: master
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    automated:
      prune: true
